*{
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  text-align: center;
}

.money-img {
  width: 220px;  
}

.equal {
  font-weight: bold;
  font-size: 40px;
}

.currency {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currency select {
  padding: 10px 20px 10px 10px;
  border: 2px solid #dedede;
  font-size: 16px;
  background: transparent;
  appearance: none;
}

.currency input {
  border: 2px solid #dedede;
  background: transparent;
  font-size: 30px;
  text-align: right;
  margin-left: 5px;    
}

select:focus , input:focus {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    overflow: hidden;
}